.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.featureBox {
    width: 860px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .5s ease-in-out;
    .link {
        color: #333;
    }
    .container {
        width: 100%;
        height: 100%;
        color: #333;
    }
    .line {
        height: 5px;
        background: #000;
        transition: all .5s ease-in-out;
    }
    h3 {
        color: #000;
        font-size: 60px;
        font-weight: bold;
        width: max-content;
        position: relative;
        margin: 10px 0;
    }
    h3,
    .link {
        transition: all .5s ease-in-out;
        display: block;
    }
    .item {
        font-size: 22px;
        text-align: left;
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    .levelUp {
        position: absolute;
        top: 0;
        left: 0;
    }
    .blog {
        position: absolute;
        top: 0;
        right: 0;
    }
    .life {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &.hideFeature {
        h3 {
            transform: translateY(50px);
            opacity: 0;
        }
        .link {
            transform: translateY(80px);
            opacity: 0;
        }
        .line {
            width: 0;
        }
    }
    &.showFeature {
        h3,
        .link {
            transform: translateY(0);
            opacity: 1;
        }
        .line {
            width: 70px;
        }
    }
}